:root {
  --font-primary: 'Raleway', sans-serif;
  --color-white: hsl(0, 0%, 100%);
  --color-primary: hsl(228.8, 57.1%, 11%);
  --color-secondary: hsl(243.2, 100%, 92.5%);
  --color-primary-bg: hsl(228, 55.6%, 26.5%);
  --color-body-bg: hsl(229, 57%, 11%);
  --color-meter-bg: hsl(231, 55.6%, 21.2%);
  --color-meter-bar-bg: linear-gradient(90deg, hsl(5.8, 100%, 79.6%) 0%, hsl(335.1, 100%, 64.5%) 100%);
  --color-primary-shadow: hsla(0, 0%, 0%, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
select,
textarea,
button,
meter {
  border: none;
  box-shadow: none;
  outline: none;
}

meter {
  appearance: none;
  background: none;
}

meter::-webkit-meter-bar,
meter::-webkit-meter-optimum-value {
  background: none;
}

meter::-moz-meter-bar {
  background: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  background: url(../images/bg-mobile.png) no-repeat center center/cover;
  font-family: var(--font-primary);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.component {
  padding: 0 24px;
}

.component section {
  min-width: 326px;
  min-height: 201px;
  margin-bottom: 16px;
  padding: 40px;
  background: var(--color-primary-bg);
  box-shadow: 0px 75px 100px -30px var(--color-primary-shadow);
  border-radius: 10px 100px 10px 10px;
}

.component section h1 {
  margin-top: 0;
  margin-bottom: 33px;
}

.component nav {
  display: flex;
  align-items: center;
}

.component nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background: var(--color-primary);
  border-radius: 10px;
}

.component nav a+a {
  margin-left: 16px;
}

.component aside {
  position: relative;
  padding: 32px;
  color: var(--color-secondary);
  background: var(--color-primary-bg);
  box-shadow: 0px 75px 100px -30px var(--color-primary-shadow);
  border-radius: 10px;
}

.usage {
  position: relative;
  margin-top: 19px;
}

meter {
  appearance: revert;
  height: 20px;
  width: 100%;
  padding: 3px;
  background: var(--color-meter-bg);
  border-radius: 10px;
}

meter::-webkit-meter-bar {
  border-width: 0;
}

meter::-webkit-meter-inner-element {
  display: flex;
}

meter::-webkit-meter-optimum-value {
  background: var(--color-meter-bar-bg);
  border-radius: 8px;
}

meter::-moz-meter-bar {
  background: var(--color-meter-bar-bg);
  border-radius: 8px;
}

.usage::after {
  content: '';
  position: absolute;
  top: 5px;
  right: calc(18.5% + 5px);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
}

.values {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-secondary);
  margin-top: 10px;
  margin-bottom: 21px;
}

.info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translate(24%, -5px);
  height: 72px;
  width: 179px;
  font-weight: 700;
  padding: 16px 24px;
  color: var(--color-primary);
  background: var(--color-white);
  box-shadow: 0px 75px 100px -30px var(--color-primary-shadow);
  border-radius: 10px;
}

.info h2 {
  font-size: 40px;
  line-height: 40px;
}

.info p {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.5;
}

@media (prefers-reduced-motion: no-preference) {
  h1 svg path {
    stroke: var(--color-white);
    stroke-width: 0.25;
    stroke-dasharray: 804.1453247070312;
    stroke-dashoffset: 804.1453247070312;
    animation: offset 15s linear forwards, fill-it .8s 2.3s forwards;
  }

  @keyframes offset {
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes fill-it {
    100% {
      fill: var(--color-white);
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  h1 svg path {
    fill: var(--color-white);
  }
}